<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footer">
  <head>
    <meta charset="UTF-8" />
    <title>FOOTER</title>
      <link rel="stylesheet" href="/css/common/global.css" />
      <link rel="stylesheet" href="/css/common/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-wrap">
        <div id="footer-content">
          <p>copyright &copy; 2022 hhh</p>
          <p>개씨발.....</p>
        </div>
      </div>
    </footer>
  </body>
</th:block>
</html>
