<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>my playlist</title>
    <link rel="stylesheet" href="/static/css/common/global.css" />
    <link rel="stylesheet" href="/static/css/board/myPlayList.css" />
</head>
<body>
    <!-- header -->
    <div th:replace="common/header.html :: header"></div>






    <!-- footer -->
    <div th:replace="common/footer.html :: footer"></div>
</body>
</html>