@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------------
  한글로 작성시 noto sans
-----------------------------*/
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url(/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf);
         unicode-range: U+AC00-D7A3;
        }

/*-----------------------------
  영어로 작성시 raleway
-----------------------------*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
         unicode-range: U+26;
}

/*-----------------------------
  스크롤바 없앰
-----------------------------*/
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/*-----------------------------
  main
-----------------------------*/
main {
    width: 100%;
    height: 100vh;
/*    background-image: url("../../../images/img/rumana-s-XivbqAPEoJg-unsplash.jpg");*/
    background-repeat: none;
    z-index: -99;
}

article {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

main > img {
   object-fit:cover;
    width: 100%;
    height: 100vh;
    z-index: -9;
}

#explain {
    top: 30%;

}

.explain-text {
    width: 25%;
    height: 9rem;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    opacity: 70%;
}

#nickName {
    color: RGB(42,43,43);
}

#recommend {
    width: 50%;
    top: 53.4%;
    height: 40vh;
}

#recommend-pli {
    width: calc(100% - 18.5rem);
    height: 18rem;
    margin: 0 auto;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 5px 0 0 5px;
    background-color: rgba(60, 60, 60, 0.1);
    backdrop-filter: blur(10px);
/*    box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.2);*/
    float: left;
}

#pli-thumnail {
    width: 18rem;
    height: 18rem;
    float: right;
    background-color: cyan;
}

#pli-title {
    width: 100%-18rem;
    height: 4rem;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

#pli-info {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 70%;
    font-family: 'Noto Sans KR', sans-serif;
}

#pli-from {
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

#pli-owner-info {
    opacity: 70%;
    color: white;
    padding: 5px 20px;
}

#pli-list {
    width: calc(95%- 12rem);
    height: 12rem;
    float: left;
    font-weight: 500;
    opacity: 70%;
    color: white;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
}

.songs-wrap {
    padding: 10px 20px;
}

.song-info {
    width: 100%;
    height: 3rem;
    display: block;
    float: left;
}

.song-info a {
    width: 100%;
}

.more-btn {
    width: 4.5%;
    height: 2rem;
    float: right;
}

#pli-thumnail {
    width: 18rem;
    height: 18rem;
    float: right;
    background-color: cyan;
}

#pli-thumnail div {
    width: 9rem;
    height: 9rem;
    display: inline-block;
}
