<!DOCTYPE html>
<html lang="en"xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
    <div class="justify-content-center text-center error-details">
        <div class="container">
            <h1 class="h2-responsive access-denied-heading">Something Went Wrong <i class="fas fa-poop"></i></h1>
            <h1 class="h3-responsive access-denied-sub-heading">Oops, This Wasn't Supposed To Happen</h1>
        </div>
    </div>
    <div class="justify-content-center text-center button-action-2">
        <a type="button" th:href="@{'home'}" class="btn btn-success btn-custom btn-lg btn-rounded waves-effect">Go To Home</a>
    </div>
</body>
</html>